<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Add Notes</title>
  </head>
  <body>  
    <h1 class = 'text-center'>Add Notes</h1>
    <div class = "row">
      <div  class = "text-center">
        <a class="btn btn-primary" href=  "/lab-4/" role= "button" style="background-color: #33FF99; color : black; width: 150px;border: 0px;">Tabel Notes</a>
        <a class="btn btn-primary" href="note-list" role="button" style="background-color: #33FF99; color : black; width: 150px; border: 0px;">List Note</a>
      </div>
    </div>
    <br>
    <form action = "" method = 'POST'>
        {% csrf_token %}
        <div class="ms-2 row g-3 me-2 " style="width: 50;" >
            <div class="col">
            <h6><label class="form-label">To</label></h6>
              <input type="text" class="form-control" name="to" placeholder="To" maxlength="30">
            </div>
            <div class="col-md-6">
              <h6><label class="form-label">From</label></h6>
              <input type="text" class="form-control" name="from_m" placeholder="From" maxlength="30">
            </div>
          </div>
          <br>
          <div class="ms-3 col-11,5 me-3">
            <h6 class="text-center"><label class="form-label">Title</label></h6>
            <input type="text" class="form-control" name="title" placeholder="Enter Title Here" maxlength="30">
          </div>
          <br>
          <div class="ms-3 col-11,5 me-3">
            <h6 class="text-center"><label class="form-label">Message</label></h6>
            <input type="text" class="form-control" name="message" placeholder="Message">
          </div>
          <br>
          <button type="submit" class="ms-3 btn btn-primary, text-center" style="background-color: #33FF99; color : black; width: 150px;" >Submit</button>
    </form>
  </body>
</html>
