<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Notes</title>
  </head>
  <body>  
    <h1 class = 'text-center'>Notes</h1>
    <div class = "row">
      <div  class = "text-center">
        <a class="btn btn-primary" href= "/lab-4/" role = "button" style="background-color: #33FF99; color : black; width: 150px;border: 0px;">Tabel Notes</a>
        <a class="btn btn-primary" href="add-note" role="button" style="background-color: #33FF99; color : black; width: 150px; border: 0px;">Add Note</a>
      </div>
    </div>
    <br>
    <div >
        {% for person in note %}
        
        <div class="card" style="width: 18rem; background-color: #CCFFCC;">
            <div class="card-body">
                <h5 class="card-title">{{person.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">To: {{person.to}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">From: {{person.from_m}}</h6>
                <p class="card-text">{{person.message}}</p>
            </div>
        </div>
        {% endfor %} 
    </div>
  </body>
</html>
