<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>Tabel Notes</title>
    
  </head>
  <body>  
    <h1 class = 'text-center'>Tabel  Notes</h1>
    <div class = "row">
      <div  class = "text-center">
        <a class="btn btn-primary" href="note-list" role="button" style="background-color: #33FF99; color : black; width: 150px; border: 0px;"> List Note</a>
        <a class="btn btn-primary" href="add-note" role="button" style="background-color: #33FF99; color : black; width: 150px; border: 0px;">Add Note</a>
      </div>
    </div>
    <br>

    <table style="width: 60%; ;background-color: #CCFFCC ; margin-left : auto; margin-right: auto;" class = "table table-hover, text-center">
      <tr>
        <th scope = "column">To</th>
        <th scope = "column" >From</th>
        <th scope= "column">Title</th>
        <th scope = "column">Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
        {% for person in note %}
          <tr>
            
          <td scope = "row">{{person.to}}</td>
          <td>{{person.from_m}}</td>
          <td>{{person.title}}</td>
          <td>{{person.message}}</td>
          </tr>
        {% endfor %}
      <!-- EXAMPLE SECTION -->
      </tr>
      <!-- END SECTION -->
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            for(var i = 0; i < note.length; i++){
                
            }
            // $("table").hide(){

            // });
            // $("button").click(function(){
            //     $("p").hide();
            // });
        });
    </script>
  </body>
</html>
