<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ name }}</title>
  </head>
  <body>
      <form action="" method= "POST">
        {% csrf_token %}
        Name: <p><input type = "text" name = "name" placeholder="Your Name" maxlength="30"> </p>
        NPM: <p><input type = "text" name = "npm" placeholder="npm" maxlength="30"> </p>
        tanggal lahir: <p><input type = "date" name = "dob" placeholder="tanggal lahir"> </p>
        <input type = "submit" value = "submit">
      </form> 
  </body>
</html>
