<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        table, th, td {
          border:1px solid black;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>

    <table style="width:30%">
      <tr>
        <th>to</th>
        <th>From</th>
        <th>title</th>
        <th>message</th>
      </tr>
      <!-- TODO loop from Friend model -->
        {% for person in note %}
          <tr>
            
          <td>{{person.to}}</td>
          <td>{{person.from_m}}</td>
          <td>{{person.title}}</td>
          <td>{{person.message}}</td>
          </tr>
        {% endfor %}
      <!-- EXAMPLE SECTION -->
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
